html {
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: cursive, sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left top, #382a42, #1a0f18);
    background-color: $background;
    margin: 0;
    padding: 0;
    height: 100%;
}