main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  gap: 2rem;
  padding: 10%;
  h1 {
    font-family: "Tektur";
    font-size: 3rem;
    font-weight: 700;
    position: relative;
  }
  h1::after {
    content: "Web developer | UI/UX designer";
    display: block;
    position: absolute;
    top: 100%;
    color: $primary;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-family: "Orbitron";
  }
}

.socials {
  display: flex;
  .social-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    font-size: 1.5rem;
    li a {
      color: $forground;
      transition: 0.2s ease-in-out;
    }

    li a:hover {
      color: $primary;
    }
  }
}

.contact {
  text-decoration: none;
  color: $forground;
  font-family: "Orbitron";
  font-weight: 700;
  background-color: none;
  padding: 0.5rem 2rem;
  border: 2px black solid;
  align-self: flex-start;
  transition: background-color 0.2s;

  &:hover {
    background-color: $primary;
    box-shadow: 10px 10px $forground;
  }
}

.skew-fix {
  display: inline-flex;
  transform: skew(10deg);
}

.parallelogram {
  transform: skew(-10deg);
}
