nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
    border-bottom: 1px #8080803a solid;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
}

.logo {
    text-decoration: none;
    color: $primary;
    font-size: 18px;
    font-weight: 600;
}

.alt-logo {
    color: $secondary;
}

.navlist {
    list-style: none;
    li {
        display: inline-block;
        padding: 0 30px;
    }

    li a {
        color: $primary;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
    }

    li a:hover {
            color: $secondary;
    }
}

.cta-button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: $secondary;
    background-color: $primary;
    padding: 10px 30px;
    border-radius: 10px;
}

.cta-button:hover {
    background-color: $secondary;
    color: $primary;
}
