nav {
  display: flex;
  flex-direction: column;
  width: 5vh;
  height: 100%;
  background-color: $alt-background;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  z-index: 9999;
  box-shadow: 4px 0px 10px $box-shadow;
}

.hamburger,
.navlist li a span {
  display: none;
}

.navlist,
.socials {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.navlist {
  gap: 3rem;
}

.socials-list {
  gap: 2rem;
}

.navlist li a,
.socials-list li a {
  color: $forground;
}

.socials-list li a {
  font-size: 1.5rem;
}

@media (max-width: 700px), (max-height: 650px) {
  nav {
    flex-direction: row;
    top: 0;
    position: sticky;
    width: 100%;
    justify-content: space-between;
    padding: 0.2rem 2rem;
    align-items: center;
  }
  .navlist li a span {
    display: inline;
  }
  .navlist li a {
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    gap: 10px;
  }

  .hamburger {
    display: block;
    color: $forground;
    font-size: 1.6rem;
  }
  .socials,
  .navlist {
    display: none;
  }
  .navlist {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 7vh;
    right: 0;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background;
  }
  .navlist li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
  }
}
