nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 1rem 10%;
}

.logo {
  color: $forground;
  text-decoration: none;
  font-family: "Tektur";
  font-weight: 900;
  font-size: 3rem;
  span {
    color: $primary;
    font-weight: 700;
  }
}

.hamburger {
  color: $forground;
  font-size: 1.5rem;
}

.navlist-active {
  top: 100%;
}

.nav-overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  background-color: $alt-background;
  overflow-x: hidden;
  transition: 0.5s;
}

.navlist {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5rem;
  list-style: none;
  li {
    padding: 0.5rem;
  }
  a {
    text-decoration: none;
    color: $forground;
    font-family: "Orbitron";
    font-size: 1.7rem;
    position: relative;
  }

  a::before {
    width: 0;
    content: "";
    height: 0.2rem;
    background-color: $primary;
    position: absolute;
    bottom: -0.2rem;
    transition: width 0.2s;
  }

  a:hover::before {
    width: 100%;
    right: 0;
  }
}

.nav-overlay .close-nav {
  text-decoration: none;
  position: absolute;
  z-index: 99;
  top: 3rem;
  right: 5rem;
  font-size: 3rem;
  color: $forground;
}
